################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/US_IT-24_25_FIAE6/
